body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    position: relative;
    min-height: 100vh; /* Establece el alto mínimo del cuerpo al 100% del alto de la ventana */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 20px;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea el contenido en la parte superior */
    padding: 2rem;
    flex-grow: 1;
}

.perfil,
.equipo {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
}

.perfil {
    margin-bottom: 2rem; /* Agrega un margen inferior entre secciones */
}

.equipo {
    margin-left: 2rem; /* Añade margen izquierdo entre secciones */
}

.perfil img, .jugador img {
    max-width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.equipo h3 {
    color: #444;
    margin-top: 1rem;
}

.equipo p {
    color: #666;
}

footer {
    text-align: center;
    padding: 0.50rem 0;
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 5px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    margin: 0;
    color: #ccc;
}

.footer-content img {
    width: 30px;
}

.equipo-info img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.equipo-info h3 {
    margin-left: 10px;
}

.logos-juegos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos-juegos img {
    margin: 10px;
}

.jugadores-cod {
    display: flex;
    flex-wrap: wrap; /* Ajusta los jugadores en varias filas si es necesario */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.jugador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    flex-basis: calc(33.33% - 20px); /* Divide los jugadores en 3 columnas */
}

/* Media queries para diseño responsivo */
@media screen and (max-width: 768px) {
    .perfil,
    .equipo {
        padding: 1rem;
        margin: 0; /* Elimina márgenes entre secciones */
    }

    .jugador {
        flex-basis: calc(50% - 20px); /* Divide los jugadores en 2 columnas */
    }
}
